name: Release CI
on:
  push:
    branches:
      - master
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Install dependencies
        run: npm ci
      - name: Validate package-lock.json changes
        run: make validate-no-uncommitted-package-lock-changes
      - name: Lint
        run: npm run lint
      - name: Test
        run: npm run test
      - name: i18n_extract
        run: npm run i18n_extract
      - name: Coverage
        uses: codecov/codecov-action@v1
      - name: Build
        run: npm run build
      - name: is-es5
        run: npm run is-es5
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.SEMANTIC_RELEASE_GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.SEMANTIC_RELEASE_NPM_TOKEN }}
        run: npx semantic-release
